html,
body {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  color: #000000;
}

h1 {
  margin-top: 0;
}

/*************************************
CONTROLS
*************************************/
#controls {
  width: 250px;
  padding: 0 25px;
  background: #e2e2e2;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
}

#logo {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
  display: block;
  font-size: 3.5em;
  padding: 25px 0;
  line-height: 0.8em;
}

label {
  display: block;
  font-weight: 700;
  font-size: 0.9em;
  margin-bottom: 5px;
}

input,
textarea {
  border: none;
  outline: none;
  padding: 10px;
  width: 230px;
  font-weight: 300;
  font-size: 0.85em;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
}

input[type="submit"] {
  background: black;
  color: white;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
}

#credits {
  margin-top: 25px;
  font-size: 0.8em;
  color: #aaaaaa;
}
#credits a {
  color: #aaaaaa;
}
#credits a:hover {
  color: #333;
}

/*************************************
PREVIEW
*************************************/
#preview_wrap {
  margin-left: 300px;
  padding: 80px;
}

#preview_frame.submitted iframe{
  display: block;
  width: 100% !important;
  height: 100% !important;
}
